name: CI

on:
  push:
    branches: [ main ]
  pull_request: {}

jobs:

  check:
    runs-on: ubuntu-latest
    name: Check w/ ${{ matrix.deno-version }}
    strategy:
      matrix:
        deno-version:
        - v2.0
        - v2.1
        - v2.2
        - v2.3
        - v2.4
        - v2.5
        - v2.6
        - canary
      fail-fast: false # run each branch to completion

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v2
      with:
        deno-version: ${{ matrix.deno-version }}

    - name: Cache Deno deps
      uses: actions/cache@v4
      with:
        path: ~/.cache/deno
        key: denodir/${{ matrix.deno-version }}-${{ hashFiles('deno.lock') }}

    - name: Possibly reset lockfile
      run: deno install || rm deno.lock

    - name: Check index.ts
      run: deno check ./lib/index.ts

    - name: Run examples/v2/ping.ts
      run: ./examples/v2/ping.ts docker.io

    - name: Test
      run: deno test --allow-net ./test/*.ts

  check-publish:
    runs-on: ubuntu-latest
    name: Audit package

    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Use latest Deno
      uses: denoland/setup-deno@v2

    - name: Cache Deno deps
      uses: actions/cache@v4
      with:
        path: ~/.cache/deno
        key: denodir-${{ hashFiles('deno.lock') }}

    - name: Check publish rules
      working-directory: lib
      run: deno publish --dry-run --allow-dirty

  publish:
    runs-on: ubuntu-latest
    needs:
    - check
    - check-publish
    if: github.event_name == 'push'

    permissions:
      contents: read
      id-token: write

    steps:
    - uses: denoland/setup-deno@v2

    - uses: actions/checkout@v4

    - name: Publish now
      run: deno publish
