name: CI

on:
  push:
    branches: [ main ]
  pull_request: {}

jobs:

  check:
    runs-on: ubuntu-latest
    name: Check w/ ${{ matrix.deno-version }}
    strategy:
      matrix:
        deno-version:
        - v2.0
        - v2.1
        - canary
      fail-fast: false # run each branch to completion

    steps:
    - name: Checkout source
      uses: actions/checkout@v5

    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v2
      with:
        deno-version: ${{ matrix.deno-version }}

    # "https" cache: code from the Internet
    # External sources won't change much so we use less precise keys
    - name: Cache https://
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/deno/remote/https
          ~/.cache/deno/gen/https
        key: deno-https/v2-${{ github.sha }}
        restore-keys: deno-https/v2-


    - name: Check index.ts
      run: time deno check ./lib/index.ts

    - name: Run examples/v2/ping.ts
      run: time ./examples/v2/ping.ts docker.io

    - name: Test
      run: time deno test --allow-net ./test/*.ts

    - name: Check publish rules
      run: time deno publish --dry-run

  publish:
    runs-on: ubuntu-latest
    needs: check
    if: github.event_name == 'push'

    permissions:
      contents: read
      id-token: write

    steps:
    - uses: denoland/setup-deno@v2

    - uses: actions/checkout@v5

    - name: Publish now
      run: deno publish
